body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #191724;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height: 650px;
  background-color: #e0def4;
  border: solid #e0def4;
}

#buttons {
  display: flex;
  width: 600px;
  justify-content: center;
}

#buttons button {
  height: 28px;
  margin: 3px;
  border: 2px solid #26233a;
  border-radius: 5%;
}

#buttons #colorBtn {
  width: 28px;
}
